::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgb(var(--v-theme-scrollbar-thumb));
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(var(--v-theme-scrollbar-track));
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--v-theme-scrollbar-thumb-hover));
}

* {
    scrollbar-color: rgb(var(--v-theme-scrollbar-thumb)) rgb(var(--v-theme-scrollbar-track));
}